<section id="notice">
    <div class="inner">
        <h2>Content Notice</h2>
        <p>Content on this page is about the JKU Games 2025S in May 2025 and might therefore not be up-to-date yet. <br>
            It should give you an idea of what to expect at the JKU Games 2025W, but it will most likely change in the future.</p>
            
        <p>Check back later to see more current content as planning progresses:<br>
        The JKU Games 2025W will take place on the weekend of <strong>05.12.-07.12.2025</strong>.</p>
    </div>
</section>