<section id="notice">
    <div class="inner">
        <h2>Content Notice</h2>
        <p>Content on this page is about the JKU Games 2023W in December of 2023 and might therefore not be up-to-date yet. <br>
            It should give you an idea of what to expect at the JKU Games 2024S, but it will most likely change in the future.</p>
            
        <p>Check back later to see more current content as planning progresses:<br>
        The JKU Games 2024S will take place on the weekend of <strong>17.05-19.05.2024</strong>.</p>
    </div>
</section>