<style>
    div.gallery {
        border: 1px solid #ccc;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .teamlist {
        display: flex;
        flex-wrap: wrap;
    }

    .responsive {
        max-width: 285px;
        padding: 0 6px;
    }
</style>

<section id="team" class="teamlist">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Hannah_Aigner.jpg">
                <img src="/assets/images/team/Hannah_Aigner.jpg" alt="Hannah Aigner" width="600" height="800">
            </a>
            <div class="desc">Hannah Aigner<br>Lehramt</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Benjamin_Bergmann.jpg">
                <img src="/assets/images/team/Benjamin_Bergmann.jpg" alt="Benjamin Bergmann" width="600" height="800">
            </a>
            <div class="desc">Benjamin Bergmann<br>Artificial Intelligence</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Kai_Bogner.jpg">
                <img src="/assets/images/team/Kai_Bogner.jpg" alt="Kai Bogner" width="600" height="800">
            </a>
            <div class="desc">Kai Bogner<br>Lehramt</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Helena_Fitze.jpg">
                <img src="/assets/images/team/Helena_Fitze.jpg" alt="Helena Fitze" width="600" height="800">
            </a>
            <div class="desc">Helena Fitze<br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Simon_Haas.jpg">
                <img src="/assets/images/team/Simon_Haas.jpg" alt="Simon Haas" width="600" height="800">
            </a>
            <div class="desc">Simon Haas<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Sarah_Hauer.jpg">
                <img src="/assets/images/team/Sarah_Hauer.jpg" alt="Sarah Hauer" width="600" height="800">
            </a>
            <div class="desc">Sarah Hauer<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Alicia_Källgren.jpg">
                <img src="/assets/images/team/Alicia_Källgren.jpg" alt="Alicia Källgren" width="600" height="800">
            </a>
            <div class="desc">Alicia Källgren<br>Chemie</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Daniel_Kutasi.jpg">
                <img src="/assets/images/team/Daniel_Kutasi.jpg" alt="Daniel Kutasi" width="600" height="800">
            </a>
            <div class="desc">Daniel Kutasi<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Nándor_Kutasi.jpg">
                <img src="/assets/images/team/Nándor_Kutasi.jpg" alt="Nándor Kutasi" width="600" height="800">
            </a>
            <div class="desc">Nándor Kutasi<br>Chemie</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Miriam_Lazzaretti.jpg">
                <img src="/assets/images/team/Miriam_Lazzaretti.jpg" alt="Miriam Lazzaretti" width="600" height="800">
            </a>
            <div class="desc">Miriam Lazzaretti<br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Andreas_Macho.JPG">
                <img src="/assets/images/team/Andreas_Macho.JPG" alt="Andreas Macho" width="600" height="800">
            </a>
            <div class="desc">Andreas Macho<br>Chemie</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Florian_Obernberger.jpg">
                <img src="/assets/images/team/Florian_Obernberger.jpg" alt="Florian Obernberger" width="600" height="800">
            </a>
            <div class="desc">Florian Obernberger<br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Paul_Pavlicek.jpg">
                <img src="/assets/images/team/Paul_Pavlicek.jpg" alt="Paul Pavlicek" width="600" height="800">
            </a>
            <div class="desc">Paul Pavlicek<br>Physik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Lukas_Pfeffer.JPG">
                <img src="/assets/images/team/Lukas_Pfeffer.JPG" alt="Lukas Pfeffer" width="600" height="800">
            </a>
            <div class="desc">Lukas Pfeffer<br>ELIT</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Pia_Poledna.jpg">
                <img src="/assets/images/team/Pia_Poledna.jpg" alt="Pia Poledna" width="600" height="800">
            </a>
            <div class="desc">Pia Poledna<br>Mathematik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Roman_Rittler.jpg">
                <img src="/assets/images/team/Roman_Rittler.jpg" alt="Roman Rittler" width="600" height="800">
            </a>
            <div class="desc">Roman Rittler<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Ivan_Shepelev.jpg">
                <img src="/assets/images/team/Ivan_Shepelev.jpg" alt="Ivan Shepelev" width="600" height="800">
            </a>
            <div class="desc">Ivan Shepelev<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Dominik_Wassermann.jpg">
                <img src="/assets/images/team/Dominik_Wassermann.jpg" alt="Dominik Wassermann" width="600" height="800">
            </a>
            <div class="desc">Dominik Wassermann<br>NaWi-Tec</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Florian_Weigelt.jpg">
                <img src="/assets/images/team/Florian_Weigelt.jpg" alt="Florian Weigelt" width="600" height="800">
            </a>
            <div class="desc">Florian Weigelt<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/assets/images/team/Lukas_Zeller.jpg">
                <img src="/assets/images/team/Lukas_Zeller.jpg" alt="Lukas Zeller" width="600" height="800">
            </a>
            <div class="desc">Lukas Zeller<br>Informatik</div>
        </div>
    </div>

</section>