<style>
    div.gallery {
        border: 1px solid #ccc;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 19.99999%;
    }

    @media only screen and (max-width: 1500px) {
        .responsive {
            width: 24.99999%;
        }
    }

    @media only screen and (max-width: 1150px) {
        .responsive {
            width: 33.33333%;
        }
    }

    @media only screen and (max-width: 750px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<section id="team">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Benjamin_Bergmann.jpg">
                <img src="/_includes/team/Benjamin_Bergmann.jpg" alt="Benjamin Bergmann" width="600" height="800">
            </a>
            <div class="desc">Benjamin Bergmann <br>Artificial Intelligence</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Kai_Bogner.jpg">
                <img src="/_includes/team/Kai_Bogner.jpg" alt="Kai Bogner" width="1108" height="1477">
            </a>
            <div class="desc">Kai Bogner <br>Lehramt</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Helena_Fitze.jpg">
                <img src="/_includes/team/Helena_Fitze.jpg" alt="Helena Fitze" width="600" height="800">
            </a>
            <div class="desc">Helena Fitze <br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Sarah_Hauer.jpg">
                <img src="/_includes/team/Sarah_Hauer.jpg" alt="Sarah Hauer" width="600" height="800">
            </a>
            <div class="desc">Sarah Hauer <br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Daniel_Kutasi.jpg">
                <img src="/_includes/team/Daniel_Kutasi.jpg" alt="Daniel Kutasi" width="600" height="800">
            </a>
            <div class="desc">Daniel Kutasi <br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Nándor_Kutasi.jpg">
                <img src="/_includes/team/Nándor_Kutasi.jpg" alt="Nándor Kutasi" width="600" height="800">
            </a>
            <div class="desc">Nándor Kutasi <br>Chemie</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Miriam_Lazzaretti.jpg">
                <img src="/_includes/team/Miriam_Lazzaretti.jpg" alt="Miriam Lazzaretti" width="600" height="800">
            </a>
            <div class="desc">Miriam Lazzaretti <br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Andreas_Macho.JPG">
                <img src="/_includes/team/Andreas_Macho.JPG" alt="Andreas Macho" width="600" height="800">
            </a>
            <div class="desc">Andreas Macho <br>Chemie</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Florian_Obernberger.jpg">
                <img src="/_includes/team/Florian_Obernberger.jpg" alt="Florian Obernberger" width="600" height="800">
            </a>
            <div class="desc">Florian Obernberger <br>Informatik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Pia_Poledna.jpg">
                <img src="/_includes/team/Pia_Poledna.jpg" alt="Pia Poledna" width="600" height="800">
            </a>
            <div class="desc">Pia Poledna <br>Mathematik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/AK_Rischanek.jpg">
                <img src="/_includes/team/AK_Rischanek.jpg" alt="AK Rischanek" width="600" height="800">
            </a>
            <div class="desc">AK Rischanek <br>Mathematik</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Roman_Rittler.jpg">
                <img src="/_includes/team/Roman_Rittler.jpg" alt="Roman Rittler" width="600" height="800">
            </a>
            <div class="desc">Roman Rittler <br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Max_Walder.jpg">
                <img src="/_includes/team/Max_Walder.jpg" alt="Max Walder" width="600" height="800">
            </a>
            <div class="desc">Max Walder<br>Artificial Intelligence</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/_includes/team/Lukas_Zeller.jpg">
                <img src="/_includes/team/Lukas_Zeller.jpg" alt="Lukas Zeller" width="600" height="800">
            </a>
            <div class="desc">Lukas Zeller <br>Informatik</div>
        </div>
    </div>

    <div class="clearfix"></div>
</section>